* {
  font-family: "Roboto", sans-serif;
  padding: 0%;
  margin: 0%;
}

p {
  font-size: 22px;
  font-weight: 700;
}

.main {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-outer {
  width: 305px;
  height: 600px;
  background-color: black;
  border-radius: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-inner {
  width: 290px;
  height: 585px;
  background-color: white;
  border-radius: 47px;
}

.sc-line {
  height: 25px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myDay {
  color: gray;
  margin-top: 2px;
  width: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.line {
  width: 85px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  margin-top: 5px;
}

.myDate {
  color: gray;
  margin-top: 2px;
  width: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dummy {
  height: 101px;
}
.temp-display {
  height: 100px;
  width: 270px;
  font-size: 25px;
  font-weight: 600;
  color: #318d22;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  text-align: end;
}

.display {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ".";
  font-size: 30px;
  font-weight: 700;
  width: 270px;
  height: 67px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  text-align: end;
}
.hr {
  height: 6px;
  background-color: #111111;
  width: 100%;
}
.key-pad {
  height: 286px;
  color: black;
  background-color: #111111;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

.key {
  width: 72.5px;
  height: 57px;
  color: white;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.operators {
  color: #318d22;
}

.equal-to {
  border-bottom-right-radius: 43px;
}

.at-the-r {
  border-bottom-left-radius: 43px;
}

/* toggle color */

.theme-green {
  color: #318d22;
}

.theme-white {
  color: white;
}
